black>=26.3.1          # Linting tool; >=26.3.1 fixes CVE (arbitrary file write in cache filename)
flake8==7.1.1           # Linting tool, if changed update pyproject.toml as well
Flake8-pyproject==1.2.3 # Linting tool, if changed update pyproject.toml as well
isort==6.0.0            # Linting tool, if changed update pyproject.toml as well
tox                     # Used for unit tests
requests
